:root {
 --black: #150605;
 --pink: #EA453C;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
  text-align: left;
}


header {
  display:flex;
  justify-content: center;
  background-color: var(--pink);
  height:90px;
  color: white;
  padding: 0 15px;
  box-shadow: 1px 5px 10px -5px rgba(21,6,5,1)
}

.header-items{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px){
  header{
    height:70px;
  }
  .header-items{
    width: 100%;
  }
}



/* page restaurants */

.restaurants{
  width:70%;
  margin: auto;
  height: 100vh;
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}

/* about image of restaurants */
.image-container{
  flex:1;
  padding:10px;
  width: 40vw;
  margin: 10px;
  flex-wrap: nowrap;
  display:flex;
  border: 1px solid green;
  overflow: hidden;
  position: relative;
}

.image-res{
  /* width: 450px;
  height: 170px; */
  width:100%;
  height:35vh;
  opacity:0.8;
  object-fit: cover;
}

.image-res:hover{
 opacity: 1;
}
/* icon on image */

.ri-heart-line.favorite,
.ri-add-circle-line.cart,
.ri-shopping-cart-fill.cart,
.ri-heart-fill.favorite{
  font-size: 15px;
  color: white;
  top: 10%;
  position: absolute;
}

/* favorite icon */
.ri-heart-line.favorite{
  /* color: blueviolet; */
  left:10%;
}

.ri-heart-fill.favorite{
  /* color: gold; */
  left:10%;
  color:var(--black);
}

/* to cart icon */
.ri-add-circle-line.cart,
.ri-shopping-cart-fill.cart{
  right:10%;
  color:var(--black);
}


@media only screen and (max-width: 600px){
  .image-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
  }
  .image-res{
    width:100%;
    height:40vh;
    object-fit: cover;
  }
}

/* cart page */
.cart-page{
  justify-content: center;
  display:flex;
  flex-direction: column;
}

.cart-items-info{
  width:70%;
  align-self: center;
  background-color: aqua;
}
/* cart page - delete button */

.ri-delete-bin-fill{
  color: var(--pink);
}

.ri-delete-bin-line{
  color: black;
}

/* check out */
.cart-page h1{
 text-align: center;
}
/* place order button div */

.cart-order-button{
  width: 130px;
  display: flex;
  margin:0 auto;
}

.cart-page a{
  border: 1px solid var(--black);
  cursor:pointer;
  padding: 15px;
}

.cart-page a:hover{
  color: var(--pink);
  box-shadow: #EA453C;
}

.item-in-cart{
  font-family: "Roboto";
  display:flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}
