:root {
 --black: #150605;
 --pink: #FF2A84;
 --blue: #551A8B;
 --white:#FAFAFA;
 --bgpink:#F6C6CB;
 --header:#FFFFFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--white);
  text-align: left;
}

header {
  display:flex;
  justify-content: center;
  background-color: var(--pink);
  position:fixed;
  height:90px;
  top:0;
  z-index: 2;
  width: 100%;
  padding: 0 15px;
  box-shadow: 1px 5px 10px -5px rgba(21,6,5,1)
}

.header-items{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items>a{
  text-decoration: none;
}
.header-items-title {
  color: var(--header);
  font-size: 20px;
  font-weight: 500;
}

.header-items-right{
  display: flex;
  align-items: center;
  color: var(--header);
  gap: 15px;
}

.header-items-right > a {
  text-decoration: none;
  color: var(--header)
}

.header-items-right > a:hover{
  text-decoration: underline;
  transition: 1s;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px){
  header{
    height:70px;
  }
  .header-items{
    width: 80%;
  }

}

/* RESTAURANTS PAGE */

.restaurants-right{
  width:60%;
  margin: auto;
  margin-top:130px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--pink);
 }

.restaurants-title{
  width: 60%;
  margin-top: 10px;
  font-weight: 800;
  color: var(--pink);
}

.restaurants-subtitle-pink,
.restaurants-subtitle,
.restaurants-subtitle-down{
  width: 45vw;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

.restaurants-subtitle-pink{
  color:var(--pink);
  letter-spacing: 2px;
}

.restaurants{
  width:60%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

/* button group and buttons */
.btn-group{
  margin: auto;
  width: 60%;
  align-items:center;
  display: flex;
  margin-bottom: 10px;
}

.res-select-btn,
.res-clicked-btn{
  border: 1px solid var(--pink);
  font-weight: 600;
  margin-left: 12px;
  padding: 8px 16px;
  border-radius: 5px;
}

.res-select-btn{
  background-color: var(--white);
}

.res-clicked-btn{
  background-color: var(--bgpink);
  color: var(--pink);
}

.res-select-btn:hover{
  color: var(--pink);
  transform: scale(1.1);
}


/* about image of restaurants */
.image-container{
  width: 40%;
  min-width: 380px;
  height: 220px;
  margin: 10px;
  background-color: var(--bgpink);
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px var(--bgpink);
  position: relative;
}

.image-container:hover{
  border: 1px solid var(--pink);
}

.image-res{
  width:100%;
  height:90%;
  margin-top: 25px;
  border-radius:0 0 5px 5px;
  object-fit: cover;
  overflow: hidden;
}

.image-res-name{
  top:2%;
  left:25%;
  position: absolute;
  margin-top:0;
  font-weight: 700;
  text-decoration: none;
  color: var(--pink);
}
.image-res-name:hover{
  text-decoration: underline;
}

.image-res-info{
  height: 45px;
  width: 100%;
  position:absolute;
  display: flex;
  color:var(--header);
  bottom: 0%;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, rgba(138, 104, 104, 0.5), transparent);
}

.image-res-info-gap{
  width: 15%;
}
.image-res-info-words{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px){
  .restaurants-right{
    width:75%;
    margin-bottom: 32px;
   }

  .restaurants-subtitle,
  .restaurants-subtitle-down{
    display: none;
  }

  .restaurants-subtitle-pink{
    margin-bottom: 16px;
  }

  .btn-group{
    width: 75%;
  }
 .restaurants{
    width:100%;
    flex-direction: column;
    flex-wrap:nowrap;
    margin-bottom: 50px;
  }
  .image-container{
    height: 200px;
    width: 70%;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .image-res{
    width:100%;
  }
}

/* icon on image */

.ri-heart-line.favorite,
.ri-add-circle-line.cart,
.ri-shopping-cart-fill.cart,
.ri-heart-fill.favorite{
  font-size: 15px;
  color: white;
  top: 2%;
  position: absolute;
}

/* favorite icon */
.ri-heart-line.favorite,
.ri-heart-fill.favorite{
  left:5%;
  color:var(--pink);
}

/* to cart icon */
.ri-add-circle-line.cart,
.ri-shopping-cart-fill.cart{
  right:5%;
  color:var(--pink);
}

/* CART PAGE */

.cart-page{
  justify-content: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.cart-items-info{
  width:60%;
  align-self: center;
  justify-content: space-around;

}
.cart-items-info > p{
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (max-width: 800px){
  .cart-items-info{
    width:100%;
   }
}

.cart-page h1{
  text-align: center;
  margin-top: 130px;
}

.item-in-cart{
  display:flex;
  align-items: center;
  align-self: center;
  padding: 5px 15px;
  margin: 20px 50px;
  border-bottom: 1px solid var(--pink);
}

.item-in-cart > img{
  width: 160px;
  min-width: 140px;
  height: 100px;
  margin-right:10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px grey;
}

.item-in-cart-right{
  margin-left: 30px;
}

/* CART PAGE - delete button */
.ri-delete-bin-fill{
  color: var(--pink);
  cursor: pointer;
}

.ri-delete-bin-line{
  color: black;
}

/* CART PAGE place order button */
.cart-order-button{
  width: 150px;
  display: flex;
  border-style: none;
  margin:0 auto;
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: var(--pink);
  color: var(--header);
  border-radius: 5px;
  justify-content: center;
}


.cart-order-button:hover{
  box-shadow: 1px 1px 4px 1px var(--pink);
  transition: 1s;
  background-color: var(--blue);
  transform:scale(1.1);
}

/* CART SHOPPING PAGE loading */

.cart-page-loading{
 background-color: var(--bgpink);
 width: 50vw;
 position:fixed;
 height: 50vh;
 left:0;
 right:0;
 top:0;
 bottom:0;
 margin:auto;
 opacity: 0.9;
 z-index: 2;
 border-radius: 5px;
 box-shadow: 0px 0px 6px 2px gray;
}

.cart-page-loading > h3,
.cart-page-loading > h4{
  position:absolute;
  top: 40%;
  left: 20%;
  line-height: 1.5;
  color: var(--pink);
}
.cart-page-loading > h4{
  top: 55%;
}

/* .cart-page-loading > button{
  position:absolute;
  font-size: 22px;
  font-weight: 800;
  color:var(--pink);
  cursor: pointer;
  background-color: transparent;
  border: none;
  top: 3%;
  right:3%;
} */

@media only screen and (max-width: 800px) {
  .cart-page-loading{
    background-color: var(--bgpink);
    width: 70vw;
    height: 80vh;
    }
}
