:root {
 --black: #150605;
 --pink: #FF2A84;
 --blue: #551A8B;
 --white:#FAFAFA;
 --bgpink:#F6C6CB;
 --header:#FFFFFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--white);
  text-align: left;
}




/* about image of restaurants */




/* icon on image */

.ri-heart-line.favorite,
.ri-add-circle-line.cart,
.ri-shopping-cart-fill.cart,
.ri-heart-fill.favorite{
  font-size: 15px;
  color: white;
  top: 2%;
  position: absolute;
}

/* favorite icon */
.ri-heart-line.favorite,
.ri-heart-fill.favorite{
  left:5%;
  color:var(--pink);
}

/* to cart icon */
.ri-add-circle-line.cart,
.ri-shopping-cart-fill.cart{
  right:5%;
  color:var(--pink);
}
