
header {
  display:flex;
  justify-content: center;
  background-color: var(--pink);
  position:fixed;
  height:90px;
  top:0;
  z-index: 2;
  width: 100%;
  padding: 0 15px;
  box-shadow: 1px 5px 10px -5px rgba(21,6,5,1)
}

.header-items{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items>a{
  text-decoration: none;
}
.header-items-title {
  color: var(--header);
  font-size: 20px;
  font-weight: 500;
}

.header-items-right{
  display: flex;
  align-items: center;
  color: var(--header);
  gap: 15px;
}

.header-items-right > a {
  text-decoration: none;
  color: var(--header)
}

.header-items-right > a:hover{
  text-decoration: underline;
  transition: 1s;
  transform: scale(1.1);
}

@media only screen and (max-width: 800px){
  header{
    height:70px;
  }
  .header-items{
    width: 80%;
  }

}
