
.restaurants-right{
  width:60%;
  margin: auto;
  margin-top:130px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--pink);
 }

.restaurants-title{
  width: 60%;
  margin-top: 10px;
  font-weight: 800;
  color: var(--pink);
}

.restaurants-subtitle-pink,
.restaurants-subtitle,
.restaurants-subtitle-down{
  width: 45vw;
  font-weight: 500;
  /* letter-spacing: 1px; */
}

.restaurants-subtitle-pink{
  color:var(--pink);
  letter-spacing: 2px;
}

.restaurants{
  width:60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  column-gap: 3px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 800px){
  .restaurants-right{
    width:75%;
    margin-bottom: 5px;
   }


  .restaurants{
    width:80%;
    margin-bottom: 30px;
  }

  .restaurants-subtitle,
  .restaurants-subtitle-down{
    display: none;
  }

  .restaurants-subtitle-pink{
    margin-bottom: 16px;
  }

}
